.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.Heading{
  background-color: #4472C4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: 1.5rem; */
}
.MainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 90%;
  
}
.buttons{
  display: flex;
  gap: 1rem;
}
button{
  padding: 1rem;
  color: white;
  background-color: rgb(68,114,196);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
table{
  width: 100%;
  border: 1px solid gray;
}
thead{
  background-color: rgb(68,114,196);
}
tr{
  margin-right: 1rem;
}
th{
  padding: 1rem;
}
td{
  padding: 1rem;
}
.NewEntryForm{
  background-color: rgb(68,114,196);
  padding: 1rem;
  flex-direction: column;
}